html {
    font-size: 23px;
    white-space: nowrap;
	color: white;
	background: url('./background-image.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
html, body {
    height: 100%;
}
body {
	background: none;
}
.game-message-alert {
	border-radius: 0px;
	border: none;
	font-size: 50px;
	min-height: 100px;
	padding: 10px;
}
.game-message-alert-primary {
	background-color: #4274D7;
	color: #FFFFFF;
}
.game-message-alert-warning {
	background-color: #FEAF20;
	color: #212529;
}
.game-message-alert-default {
	background-color: #F9F9F9;
	color: #212529;
}
.hide-message {
	visibility: hidden;
}
#game-board .btn {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	width: 10vh;
	height: 10vh;
	font-size: 8vh;
	line-height: 8vh;
	font-weight: bold;
	text-align: center;
	margin-left: 7px;
	margin-right: 7px;
}
#game-board .btn.disabled, #game-board .btn:disabled {
	opacity: 1;
}
.control-row {
	background: rgba(0, 0, 0, 0.5) !important;
}
.control-row .btn {
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn {
	font-size: 50px;
}
.game-settings-label {
	color: white;
	font-size: 50px;
	vertical-align: middle;
	margin-right: 10px;
}
@media (max-width: 768px) {
	#game-board .btn {
		width: 20vw;
		height: 20vw;
		font-size: 15vw;
		line-height: 15vw;
	}
}