html {
    font-size: 23px;
    white-space: nowrap;
	color: white;
	background: url('https://wallpaper-house.com/data/out/7/wallpaper2you_142723.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
html, 
body {
    height: 100%;
}
body {
	background: none;
}
.navbar-dark {
	background: rgba(0, 0, 0, 0.5) !important;
}
.navbar-brand {
	font-size: 75px;
}
#game-board .btn {
	width: 150px;
	height: 150px;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	margin-left: 7px;
	margin-right: 7px;
}
.difficulty-button.active {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}
.control-row .btn {
	margin-top: 20px;
	margin-bottom: 20px;
}
@media (max-width: 991px) {
	.navbar, .navbar-brand {
		padding: 0px;
		font-size: 60px;
	}
	.navbar, .navbar-brand {
		padding: 0px;
		font-size: 40px;
	}
	.control-row {
		background: rgba(255, 255, 255, 0.5) !important;
	}
}